
h1{
    color: blue;
    text-decoration: underline;
    background: gold;

    

}

h2{
    color: purple;
    font-weight: bold;
    font-size: 25px;
    border: 5px solid orange;
}

section {
    width: 50%;
    height: 200px;
    
}